@import url('https://fonts.googleapis.com/css2?family=Inter:wght@500&family=Jost:wght@600&family=Poppins:wght@400;500;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fjalla+One&family=Inter:wght@500&family=Jost:wght@400;500;600&family=Montserrat:wght@800&family=Nova+Square&family=Poppins:wght@400;500;600&family=Roboto&display=swap');

.inter {
    font-family: 'Inter';
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    color: #94A3B8;
}

.text-center {
    font-family: 'Montserrat', sans-serif;
    font-size: 32px;
    font-weight: 800;
    line-height: 40px;
    color: #334155;
    margin-top: 50px;
}

.nav-tabs {
    border: none !important;
    border-bottom: 1px solid #E2E8F0 !important;
    width: fit-content;
    margin: 0 auto;

}

.nav-tabs .nav-link {
    font-family: 'Inter';
    font-size: 16px;
    font-weight: 600;
}

.nav-link {
    color: #5D6A83 !important;
    border: none !important;

}

.nav-link:hover {
    border: none !important;
}

.nav-tabs .nav-link.active {
    border-bottom: 2px solid #194BFB !important;
    border-top: none !important;
    border-right: none !important;
    border-left: none !important;
    color: #194BFB !important;
}

.form-control {
    color: #64748B;
    width: 424px !important;
    height: 56px;
    padding: 16px !important;
    border-radius: 8px !important;
    border: 1px solid #CDD5DF !important;
    box-shadow: none !important;
    font-family: 'Inter ' !important;
    font-size: 16px !important;
    font-weight: 400 !important;
}

.btn-primary {
    background-color: #003F6D !important;
}

.form-check-label {
    font-family: 'Inter ' !important;
    font-size: 16px !important;
    font-weight: 600 !important;
    line-height: 22px;
    color: #475569;
    text-align: left;
}

.text-a {
    color: #194BFB;
    font-family: 'Inter ' !important;
    font-size: 16px !important;
    font-weight: 600 !important;
    line-height: 22px;
   float: right;
}

.form-center {
    display: flex;
    justify-content: center;
}
.text-footer{
    margin-top: 90px;
}
.card{
    border: #F1F5F9 !important;
   background-color: #F1F5F9;
}
.card-body{
   
}